{% extends "base.html" %}
{% block title %}Baremetal Servers Catalog{% endblock %}
{% block content %}

<table id="sd" class="table table-hover" style="display: none; width: 100%;">
    <thead id="sd-thead" class="thead-dark"></thead>
    <tbody></tbody>
</table>

<script type="text/javascript">

// Fetch DATA
var cache_bust = new Date().toDateString().replaceAll(' ','');
var exportTitle = `Pricelist.ovh - Baremetal Servers - ${cache_bust}`;
var url = `${BUCKET_ROOT}/baremetal_prices.json?cache_bust=${cache_bust}`;

fetch(url).then(res => res.json()).then(res => {
    res = res[sub];
    for (var i in res.catalog) {
        res.catalog[i].description = res.catalog[i].description.replace(/(Dedicated.*?)\n(CPU\:.+$)/gm, (m,p1,p2) => `<b>${p1}</b><br>${p2}` );
    }
    var COLUMNS = [
        {title: `Range`, key: 'range', hidden: true},
        {title: `Server Name`, key: 'name' },
        {title: `Description`, key: 'description' },
        {title: `CPU model`, key: 'cpu_model', hidden: true },
        {title: `CPU cores`, key: 'cpu_cores', hidden: true },
        {title: `CPU threads`, key: 'cpu_threads', hidden: true },
        {title: `CPU speed (GHz)`, key: 'cpu_speed', hidden: true },
        {title: `RAM summary`, key: 'ram', hidden: true },
        {title: `RAM (GB)`, key: 'ram_size', hidden: true },
        {title: `RAM clock speed (GHz)`, key: 'ram_speed', hidden: true },
        {title: `RAM type`, key: 'ram_type', hidden: true },
        {title: `Storage summary`, key: 'storage', hidden: true },
        {title: `Storage RAID type`, key: 'storage_raid_type', hidden: true },
        {title: `Storage (TB)`, key: 'storage_total_tbytes', hidden: true },
        {title: `Monthly price (${res.currency})`, key: 'price'},
        {title: `SetupFee (${res.currency})`, key: 'setupfee', hidden: true},
    ];

    $(document).ready(function() {
    setLastUpdated(res.date);
    document.querySelector('#sd > thead').innerHTML = '<tr>' + COLUMNS.map(x=> `<th>${x.title}</th>`).join('') + '</tr>'
    document.querySelector('#sd > tbody').innerHTML = res.catalog.reduce((acc, item) => {
        return acc + '<tr>' + COLUMNS.map(col => `<td>${item[col.key]}</td>`).join('') + '</tr>';
    }, '');

    $('#sd').show();
    var mytable = $('#sd').DataTable( {
    header: true,
    ordering: true,
    orderCellsTop: true,
    order: [[ 1, "asc" ]],
    paging: false,
    dom: 'Bfrtip',
    columnDefs: [{ "targets": COLUMNS.map((x, i) => x.hidden ? i : -1).filter(x => x != -1), "visible": false }, {'targets': [COLUMNS.length-2, COLUMNS.length-1], 'type': 'num'}],
    buttons: [
        { extend: 'excel', title: exportTitle, attr: {class: 'btn btn-outline-secondary btn-sm buttons-csv buttons-html5'}, text: `${DOWNLOAD_SVG} Export to Excel`, exportOptions: { modifier: { page: 'current' } } },
        { extend: 'csv', title: exportTitle, attr: {class: 'btn btn-outline-secondary btn-sm buttons-csv buttons-html5'}, text: `${DOWNLOAD_SVG} Export to CSV`, exportOptions: { modifier: { page: 'current' } } }
    ]
} );

} );
})
</script>

{% endblock %}