{% extends "base.html" %}
{% block title %}Cost Calculator{% endblock %}
{% block content %}
<style>
.list-group {
    padding: 10px;
    background: white;
    border-radius: 0 0 7px 7px;
    display: none;
    max-height: 400px;
    overflow-y: auto;
  }

.list-group li {
    list-style: none;
    background: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.list-group div { padding: 10px; }
.list-group li:hover {  background: #dfe4ea; }

.item-row-1 {
    display: flex;
    align-items: center;
}
.item-row-1-text {
    width: 450px;
    padding: 10px;
}
.lighter {
    font-weight: lighter;
}
.item-th {
    /* transform: rotate(-52deg);  */
    max-width: 122px;
    padding: 0 10px;
}
</style>

<h3>Cost Calculator <span class="sep"></span></h3>
<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label for="title" class="col-form-label">Title</label>
    </div>
    <div class="col-auto">
        <input type="text" id="title" class="form-control form-control-sm" placeholder="Title of my estimate">
    </div>

    <div class="col-auto">
        <label for="company" class="col-form-label">Company</label>
    </div>
    <div class="col-auto">
        <input type="text" id="company" class="form-control form-control-sm" placeholder="Company">
    </div>

    <div class="col-auto">
        <label for="author" class="col-form-label">Author</label>
    </div>
    <div class="col-auto">
        <input type="text" id="author" class="form-control form-control-sm" placeholder="Author">
    </div>
</div>
<br>
<div id="calculator">
<div class="zone" data-zone="0">
    <h3>Zone
        <select id="z0" class="form-select form-select-sm" aria-label="Default select example" style="width: 200px; margin-left: 20px;">
            <option value="1">One</option>
            <option value="2" selected>Two</option>
            <option value="3">Three</option>
          </select>
        <span class="sep"></span>
    </h3>
    
    <table class="draggable-table">
        <thead>
          <th>Item</th>
          <th class="item-th">Setup Cost</th>
          <th class="item-th">Cost per Unit</th>
          <th class="item-th">#Quantity</th>
          <th class="item-th">Commitment (Month)</th>
          <th class="item-th">Discount on Commitment (%)</th>
          <th class="item-th">Cost / Month (EUR)</th>
        </thead>
        <tbody>
          <tr>
            <td>
            <div class="item-row-1">
                <button class="btn" type="button">
                    <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.70404 1.85522C10.0945 1.46478 10.0945 0.830704 9.70404 0.440262C9.3136 0.0498199 8.67952 0.0498199 8.28908 0.440262L5 3.73247L1.70779 0.443385C1.31735 0.0529434 0.683273 0.0529434 0.292831 0.443385C-0.0976105 0.833827 -0.0976105 1.4679 0.292831 1.85835L3.58504 5.14743L0.295955 8.43964C-0.0944869 8.83008 -0.0944869 9.46416 0.295955 9.8546C0.686397 10.245 1.32047 10.245 1.71092 9.8546L5 6.56239L8.29221 9.85147C8.68265 10.2419 9.31673 10.2419 9.70717 9.85147C10.0976 9.46103 10.0976 8.82695 9.70717 8.43651L6.41496 5.14743L9.70404 1.85522Z" fill="#C1C1C1"/>
                    </svg> 
                </button>
                <button class="btn" type="button" style="cursor: grabbing">
                    <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1.64743C0 0.819003 0.50368 0.14743 1.125 0.14743H10.875C11.4963 0.14743 12 0.819003 12 1.64743C12 2.47586 11.4963 3.14743 10.875 3.14743H1.125C0.50368 3.14743 0 2.47586 0 1.64743Z" fill="#C1C1C1"/>
                        <path d="M0 7.64743C0 6.819 0.50368 6.14743 1.125 6.14743H10.875C11.4963 6.14743 12 6.819 12 7.64743C12 8.47586 11.4963 9.14743 10.875 9.14743H1.125C0.50368 9.14743 0 8.47586 0 7.64743Z" fill="#C1C1C1"/>
                    </svg> 
                </button>
                <span class="item-row-1-text lighter">
                    Pack VSPHERE PRE 96 -  2x Host PRE 96   - Intel(r) Xeon(r) Silver 4214R - 2.4 GHz - 12 cores/24 Threads  - 96 GB 2x Datastore 3 TB
                </span>
            </div>

            </td>
            <td class="lighter">0</td>
            <td class="lighter">2349</td>
            <td><input type="number" id="z0-item1-quantity" class="form-control form-control-sm" placeholder="0" value="1" style="max-width: 60px"></td>
            <td><input type="number" id="z0-item1-commit" class="form-control form-control-sm" placeholder="1" value="1" style="max-width: 60px"></td>
            <td><input type="number" id="z0-item1-discount" class="form-control form-control-sm" placeholder="0" value="0" style="max-width: 60px"></td>
            <td><b>2349</b></td>
          </tr>
        </tbody>
    </table>
    <div class="search-placeholder"></div>
    <button class="btn add-item">+ Add Item</button>
</div>  <!-- Zone -->

<button class="btn add-zone">+ Add Zone</button>
<h3>Total <span class="sep"></span></h3>
<h3>Share <span class="sep"></span></h3>

</div> <!-- Calculator -->
<script>
// var url = `${BUCKET_ROOT}/pricelist-index.json`;
const pricekey = 'price_' + conformity;
fetch('pricelist-index.json').then(res => res.json()).then(res => {
const dcs = res.dcs;
const lastupdated = res.date;
res = res[sub];

setLastUpdated(lastupdated);
setConformityList();

let $ = document;

let state = {
    'check-b': true,
    'check-q': true,
    'check-p': true,
    'zones': [{'name': '', 'items': []}]
};

function AddItemOnClick(el) {
    const zone = el.parentElement;
    zone.querySelector('.search-placeholder').innerHTML = `
<div class="search" style="position: relative">
        <input id="inputTxt" class="form-control"  placeholder="Type to search..." style="border-radius: 7px 7px 0 0">
        <span style="position: absolute;right: 13px; top: 8px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="16px"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></span>
    </div>
    <div class="list-group"></div>
`;
    setTimeout(()=>{}, 0);
    const inputTxt = $.getElementById('inputTxt');
    const listGroup = $.querySelector(".list-group");
    inputTxt.addEventListener("keyup", () => SearchOnKeyUp(zone, inputTxt, listGroup));
    inputTxt.focus();
    SearchOnKeyUp(zone, inputTxt, listGroup);
}

function SearchFilterRender(state) { return  `<div>
    Search in catalogs: &nbsp;&nbsp;
    <input class="catalog-filter form-check-input" type="checkbox" value="" id="check-b" ${(state['check-b']) ? 'checked' : ''}>
    <label class="form-check-label" for="check-b"> Baremetal</label>
    &nbsp;
    <input class="catalog-filter form-check-input" type="checkbox" value="" id="check-q" ${(state['check-q']) ? 'checked' : ''}>
    <label class="form-check-label" for="check-p"> Private Cloud</label>
    &nbsp;
    <input class="catalog-filter form-check-input" type="checkbox" value="" id="check-p" ${(state['check-p']) ? 'checked' : ''}>
    <label class="form-check-label" for="check-p"> Public Cloud</label>
</div>`}

function SearchFilterEffects(zone, inputTxt, list_group) {
    $.querySelectorAll('.catalog-filter').forEach(function(el) {
        el.addEventListener('change', function(e) {
            state[el.id] = el.checked;
            SearchOnKeyUp(zone, inputTxt, list_group);
        })
    });
}

function SearchOnKeyUp(zone, inputTxt, list_group) {
    let index_keys = [];
    console.log(inputTxt);
    console.log(inputTxt.value)
    // if (!inputTxt.value || inputTxt.value.length <= 1) {
    //     inputTxt.parentElement.classList.remove("active");
    //     list_group.style.display = "none";
    //     return;
    // }
    const prefixes =  ['check-b', 'check-q', 'check-p'].map(x => state[x] ? x.split('-')[1] : false).filter(x => x);
    inputTxt.parentElement.classList.add("active");
    list_group.style.display = "block";
    list_group.innerHTML = SearchFilterRender(state);

    const tokens = inputTxt.value.toLowerCase().split(' ').filter(x => x.length > 1);
    index_keys = index_keys.concat(Object.keys(res).filter(function (key) {
        if (!(prefixes.includes(key.charAt(0)))) {
            return false;
        }
        if (!inputTxt.value) {
            return true;
        }
        const desc = res[key].description.toLowerCase();
        for (const token of tokens) {
            if (!(desc.includes(token))) {
                return false;
            }
        }
        return true;
    }));

    if (!index_keys.length) {
        list_group.innerHTML += "<li>Result not Found, Try typing something else</li>";;
    } else {
        list_group.innerHTML += index_keys.map(function (key) {
            let text = res[key].description;
            for (const token of tokens) {
                text = text.replaceAll(RegExp(token, 'gi'), '<b>$&</b>')
            }
            return `<li data-key="${key}">${text}<span class='float-right'>${pricekey in res[key] ? res[key][pricekey] : res[key].price} ${res.locale.currencyCode}</span></li>`;
        }).join('');
        
        all_list_items = list_group.querySelectorAll("li");
        all_list_items.forEach(function (list) {
            list.addEventListener("click", function (e) {
                AddItemToZone(zone, list.getAttribute('data-key'))
                // inputTxt.value = e.target.textContent;
                list_group.style.display = "none";
                    // TODO  Destroy Search
                // $.querySelectorAll('.catalog-filter').forEach(function(el) {
                //     el.removeEventListener('change');
                // });
                // $.querySelectorAll('.catalog-filter').forEach(function (list) {
                //         list.addEventListener("click", function (e) {
            });
        });
    }
    SearchFilterEffects(zone, inputTxt, list_group);
}

function AddItemToZone(zone, key) {
    console.log(key);
    console.log(zone);
    const zoneIndex = parseInt(zone.getAttribute('data-zone'));
    
    let tr = $.createDocumentFragment('tr');
    tr.innerHTML = `
    <td>
        <div class="item-row-1">
            <button class="btn" type="button">
                <svg width="10" height="11" viewBox="0 0 10 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.70404 1.85522C10.0945 1.46478 10.0945 0.830704 9.70404 0.440262C9.3136 0.0498199 8.67952 0.0498199 8.28908 0.440262L5 3.73247L1.70779 0.443385C1.31735 0.0529434 0.683273 0.0529434 0.292831 0.443385C-0.0976105 0.833827 -0.0976105 1.4679 0.292831 1.85835L3.58504 5.14743L0.295955 8.43964C-0.0944869 8.83008 -0.0944869 9.46416 0.295955 9.8546C0.686397 10.245 1.32047 10.245 1.71092 9.8546L5 6.56239L8.29221 9.85147C8.68265 10.2419 9.31673 10.2419 9.70717 9.85147C10.0976 9.46103 10.0976 8.82695 9.70717 8.43651L6.41496 5.14743L9.70404 1.85522Z" fill="#C1C1C1"/>
                </svg> 
            </button>
            <button class="btn" type="button" style="cursor: grabbing">
                <svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1.64743C0 0.819003 0.50368 0.14743 1.125 0.14743H10.875C11.4963 0.14743 12 0.819003 12 1.64743C12 2.47586 11.4963 3.14743 10.875 3.14743H1.125C0.50368 3.14743 0 2.47586 0 1.64743Z" fill="#C1C1C1"/>
                    <path d="M0 7.64743C0 6.819 0.50368 6.14743 1.125 6.14743H10.875C11.4963 6.14743 12 6.819 12 7.64743C12 8.47586 11.4963 9.14743 10.875 9.14743H1.125C0.50368 9.14743 0 8.47586 0 7.64743Z" fill="#C1C1C1"/>
                </svg> 
            </button>
            <span class="item-row-1-text lighter">
                Pack VSPHERE PRE 96 -  2x Host PRE 96   - Intel(r) Xeon(r) Silver 4214R - 2.4 GHz - 12 cores/24 Threads  - 96 GB 2x Datastore 3 TB
            </span>
        </div>

        </td>
        <td class="lighter">0</td>
        <td class="lighter">2349</td>
        <td><input type="number" id="z0-item1-quantity" class="form-control form-control-sm" placeholder="0" value="1" style="max-width: 60px"></td>
        <td><input type="number" id="z0-item1-commit" class="form-control form-control-sm" placeholder="1" value="1" style="max-width: 60px"></td>
        <td><input type="number" id="z0-item1-discount" class="form-control form-control-sm" placeholder="0" value="0" style="max-width: 60px"></td>
        <td><b>2349</b></td>`;
    zone.querySelector('table.tbody').appendChild(tr);


}

$.querySelectorAll('.add-item').forEach(function (el){
    el.addEventListener('click', function(){ AddItemOnClick(el); });
})



}) // fetch

</script>

{% endblock %}